.menu {
    padding-top: 50px;
    border-bottom: 1px solid grey;
}

.current,
.unselected {
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}

.current {
    color: teal;
}

.unselected {
    text-decoration: none;
    color: grey;
}

.unselected:hover {
    text-decoration: underline;
}

.title {
    padding: 5px 0;
    color: gray;
}

/* Group card css below */
.group-container {
    border-bottom: 1px solid gray;
    width: 100%;
}

.group-card {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.group-image {
    margin-right: 12px;
    width: 178px;
    height: 124px;
    align-self: baseline;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: cover;
}

.card-right {
    width: 71%;
    display: flex;
    flex-direction: column;
}

.group-name {
    color: black;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.group-location {
    color: rgb(131, 107, 80);
    margin: 0;
    font-weight: bold;
}

.group-about {
    color: black;
    max-width: 100%;
    font-weight: 400;
    overflow-wrap: break-word;
}

.group-details {
    color: gray;
    margin: 0;
    font-weight: 400;
}

.no-more-groups-message {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.no-more-groups-message i {
    color: rgb(235, 69, 119);
}
