.main-page-container {
    background-color: white;
    width: 70%;
    height: calc(100vh - 93px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15% 0px 15%;
}

.main-page-top {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.top-left {
    height: max-content;
    width: 50%;
    padding-right: 25px;
}

.title-text {
    font-size: 50px;
    font-weight: 900;
    margin: 0px;
}

.top-left p {
    width: 550px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 33px;
}

.top-right {
    width: 50%;
}

.main-page-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.caption h2 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 30px;
}

.caption-text {
    margin: 0;
    font-weight: 400;
    width: 33%;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 30%;
    margin-top: 30px;
}

.option {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.option img {
    align-self: center;
    height: 152px;
}

.link {
    align-self: center;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    height: 22px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(0, 128, 128, 0.897)
}

.inactive-link {
    align-self: center;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    height: 22px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    cursor: default;
}

.option h4 {
    height: 100px;
    font-weight: 400;
}

.join-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-button {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    height: 22px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0px 5px 0px;
    text-decoration: none;
}

.join-button:hover {
    background-color: rgba(0, 128, 128, 0.753);
}
