.delete-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}

.delete-modal-yes-button,
.delete-modal-no-button {
    border: none;
    box-shadow: none;
    color: white;
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
}

.delete-modal-description {
    margin-top: 0;
}

.delete-modal-yes-button {
    background-color: #e02856;
    margin-bottom: 10px;
}

.delete-modal-yes-button:hover {
    background-color: #e02856ea;
}

.delete-modal-no-button {
    background-color: gray;
}

.delete-modal-no-button:hover {
    background-color: rgba(128, 128, 128, 0.801);
}
