.main-page {
    background-color: white;
    width: 50%;
    padding: 0px 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu {
    padding-top: 50px;
    border-bottom: 1px solid grey;
}

.current,
.unselected {
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}

.current {
    color: teal;
}

.unselected {
    text-decoration: none;
    color: grey;
}

.unselected:hover {
    text-decoration: underline;
}

.title {
    padding: 5px 0;
    color: gray;
}

/* Event card css below */
.event-container {
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

.event-card {
    cursor: pointer;
    text-decoration: none;
}

.event-image {
    object-fit: contain;
    border-radius: 10px;
    padding: 0px;
}

.card-top {
    display: flex;
}

.card-top * {
    margin: 0;
}

.card-top-left {
    width: 195px;
    height: 112px;
    margin-right: 12px;
    align-self: flex-start;
    border-radius: 10px;
    border: 1px solid lightgrey;
    object-fit: cover;
}

.card-top-right {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.event-time {
    color: rgb(131, 107, 80);
    font-weight: 800;
    font-size: 15px;
}

.event-name {
    padding: 10px 0;
    color: black;
}

.event-location {
    font-weight: 400;
    color: rgb(97, 97, 97);
}

.event-description {
    color: rgb(97, 97, 97);
    justify-self: flex-end;
    overflow-wrap: break-word;
    font-weight: 400;
}

.takes-space-bottom {
    height: 500px;
}

.event-spots-left {
    color: rgb(235, 69, 119);
}

.no-more-events-message {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.no-more-events-message i {
    color: rgb(235, 69, 119);
}
