/* Empty group styles */
@keyframes loadingShimer {
    0% {
        background-color: rgb(224, 224, 224);
    }
    100% {
        background-color: rgb(97, 97, 97);
    }
}

.empty-and-loading {
    border-radius: 10px;
    background-color: grey;
    animation: 1s infinite loadingShimer;
}

.empty-group-image {
    width: 591px;
    height: 320px;
    margin-right: 20px;
    border-radius: 5px;
}

.empty-group-name {
    width: 240px;
    height: 28px;
    margin: 0 0 10px 0;
}

.empty-group-location {
    width: 170px;
    height: 18px;
}

.empty-group-events-count {
    width: 190px;
    height: 18px;
}

.empty-group-organizer {
    width: 200px;
    height: 18px;
}

.empty-group-organizer-small {
    width: 200px;
    height: 18px;
}

.empty-group-about {
    width: 1292px;
    height: 54px;
}

/* Everything else */
.group-body {
    position: absolute;
    top: 91px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group-main-top {
    padding: 0 15%;
}

.group-groups-redirect-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.group-arrow {
    padding-right: 5px;
    margin: 5px 0;
}

.group-groups-redirect {
    color: teal;
}

.group-main-middle {
    margin: 0 20px;
    display: flex;
    background-color: white;
    padding: 0 0 30px 0;
}

.group-name,
.group-group-details h4 {
    margin: 0 0 10px 0;
}

.group-group-details h4 {
    color: gray;
}

.group-middle-left {
    object-fit: contain;
    min-width: 544px;
    min-height: 320px;
    margin-right: 20px;
    border-radius: 10px;
}

.group-middle-right {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-group-details * {
    margin: 0;
}

.group-main-bottom {
    display: flex;
    flex-direction: column;
    padding: 25px 15%;
    width: 70%;
    background-color: lightgray;
}

.group-organizer h2 {
    color: black;
}

.group-main-bottom * * {
    margin: 5px 0;
}

.group-main-bottom * {
    margin: 10px;
}

.group-join-button {
    text-align: center;
    padding: 10px 15px;
    background-color: #FF5A5F;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.group-event-card {
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
}

.group-event-link {
    text-decoration: none;
    color: black;
}

.group-event-card-top {
    display: flex;
    margin: 0;
    padding-top: 10px;
}

.group-event-card-description {
    padding-bottom: 20px;
}

.group-card-time {
    color: teal;
}

.group-card-location {
    color: gray;
}

.group-button-container {
    display: flex;
    align-items: center;
}

.group-button-container * {
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    color: white;
    background-color: gray;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
    height: min-content;
}

.group-update-event-button {
    margin: 0 10px;
}

.SingleGroup-event-image {
    object-fit: contain;
    width: 178px;
    height: 124px;
    border-radius: 10px;
}
