.CreateGroupForm-main {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
}

.CreateGroupForm-first-text {
    color: teal;
}

.CreateGroupForm-body {
    padding: 0 15%;
}

.CreateGroupForm-section {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.CreateGroupForm-title {
    padding: 0;
}

.CreateGroupForm-input {
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

.CreateGroupForm-input:focus {
    background-color: rgba(95, 196, 255, 0.616);
}

.CreateGroupForm-li {
    list-style-type: decimal;
    color: black;
}

.CreateGroupForm-errors {
    margin: 5px 0 0 0;
    color: #FF5A5F
}

.CreateGroupForm-ol {
    padding-left: 15px;
}

.CreateGroupForm-ol li {
    padding: 5px;
}

.CreateGroupForm-section-title {
    margin-bottom: 5px;
}

.CreateGroupForm-hidden {
    visibility: hidden;
}

.CreateGroupForm-create-button * {
    border: none;
    margin-top: 20px;
    margin-bottom: 300px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    background-color: #e02856;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.CreateGroupForm-create-button button:hover {
    background-color: #e02856ea;
}
