.CreateEventForm-main {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
}

.CreateEventForm-body {
    padding: 0 30%;
}

.CreateEventForm-section {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.CreateEventForm-section input {
    border: 1px solid black;
    background-color: white;
}

.CreateEventForm-form-description:focus,
.CreateEventForm-section input:focus {
    background-color: rgba(95, 196, 255, 0.616);
}

.CreateEventForm-question {
    margin-bottom: 10px;
}

.CreateEventForm-form-name,
.CreateEventForm-form-image {
    width: 66%;
}

.CreateEventForm-form-capacity,
.CreateEventForm-form-price {
    width: 10%;
}

.fa-calendar-days {
    padding-left: 10px;
}

.CreateEventForm-form-start,
.CreateEventForm-form-end {
    width: 22%;
}

.CreateEventForm-form-description {
    width: 100%;
    resize: vertical;
}

.CreateEventForm-button {
    border: none;
    margin-top: 20px;
    margin-bottom: 300px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    background-color: #e02856;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.CreateEventForm-button:hover {
    background-color: #e02856ea;
}

.CreateEventForm-errors {
    margin-top: 5px;
    color: #FF5A5F
}
