* {
    font-family: Arial, Helvetica, sans-serif;
}

.logo,
.logo-container {
    color: rgb(235, 69, 119);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
}

.logo-container {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.user-icon {
    border: none;
    position: relative;
    background-color: rgb(165, 190, 169);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon-circle-inner {
    position: relative;
    bottom: 3px;
    right: 3px;
    height: 41px;
    width: 41px;
    border: 3px solid rgb(47, 54, 48);
    color: rgb(47, 54, 48);
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    border-bottom: 2px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.takes-space {
    height: 63px;
}

.fas {
    height: 40px;
}

.session-options {
    width: 125px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.session-options * {
    cursor: pointer;
}

.session-options p:hover {
    color: teal;
}

.user-menu {
    display: flex;
    width: 225px;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.profile-dropdown {
    position: absolute;
    right: 17px;
    top: 60px;
    height: fit-content;
    width: 210px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
    margin: 12px 16px;
}

.top-ul {
    border-bottom: 1px solid grey;
}

li {
    list-style-type: none;
    font-size: 14px;
    font-weight: lighter;
    padding: 8px 0;
    color: grey;
}

.dropdown-greeting {
    cursor: default;
}

.profile-button {
    margin: 5px 0px 10px 0px;
}

.profile-button * {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.profile-button *:hover {
    color: teal;
    cursor: pointer;
}

.button:hover {
    color: teal;
    cursor: pointer;
}

.nav-link {
    color: teal;
    text-decoration: none;
}
